.markdown-body img {
    max-width: 100%;
}
a {
    color: #cd2626;
}

.markdown-body {
    margin: 25px;
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: 1px solid #eceff3;
    padding-bottom: .3em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}

.markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #e8e8e8;
    border-radius: 3px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #111111;
}